build
.vscode
input.txt
.vs/
Debug/
x64/
/compilers_principles_lab.sln
/compilers_principles_lab.vcxproj
/compilers_principles_lab.vcxproj.filters
/compilers_principles_lab.vcxproj.user

analysisTree.dot
analysisTree.png
